#receiptButton{
    background-color: transparent;
    border-color: transparent;
    outline: none;
    position: absolute;
    bottom: 75px;
    right: 20px;
}

#receipt{
    width: 75px;
    height: 75px;
}

.receiptModal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
}

.modal-content{
    background-color: #E26125;
    margin: 0% auto;
    padding: 20px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 80%;
}

#receiptDataContainer{
    background-color: white;
    border-radius: 15px;
    height: 200px;
    width: 100%;
}

#receiptItems{
    color: #1947BA;
    font-size: 24px;
    float: left;
    margin: 10px;
}

#receiptItemsWeights{
    color: #1947BA;
    font-size: 24px;
    float: right;
    margin: 10px;
}

#listedItemsContainer{
    position: relative;
    float:left;
    width: 100%;
    height: 50px;
    background-color: white;
}

#itemsList {
    color: #E26125;
    font-size: 24px;
    float: left;
    margin: 10px;
}

#totalsContainer{
    position: relative;
    float:left;
    width: 100%;
    height: 50px;
    background-color: white;
}

#receiptTotalWeight{
    color: #1947BA;
    font-size: 24px;
    float: right;
    margin: 10px;
}

#receiptTotalText{
    color: #1947BA;
    font-size: 24px;
    float: right;
    margin: 10px;
}


.close{
    color: #1947BA;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#modalHeader {
    color: white;
}