body{

}


#weightContainer{
    width: 700px;
    display: inline-block;
}
#weightInputContainer{
    width: 700px;
    height: 30px;
    padding: 20px 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #E26125;
    color: white;
    font-size: 20px;
}

#weightOutputContainer{
    width: 694px;
    padding: 10px;
    background-color: white;
    border-color: #1947BA;
    color: #1947BA;
    border-style: solid;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}