body{
    text-align: center;
}

#owlHeader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #E26125;
    text-align: center;
}

#logo{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: white;
    margin: 10px auto;
    text-align: center;
}

#owlSight{
    width: 65px;
    height: 65px;
    margin: 5px auto;
}

#receiptButton{
    background-color: transparent;
    border-color: transparent;
    outline: none;
    position: absolute;
    bottom: 75px;
    right: 20px;
}

#receipt{
    width: 75px;
    height: 75px;
}

.receiptModal{
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
}

.modal-content{
    background-color: #E26125;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #1947BA;
    width: 80%;
}

.close{
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: white;
    text-decoration: none;
    cursor: pointer;
}