body{
    text-align: center;
}


#weightContainer{
    width: 700px;
    display: inline-block;
}
#weightInputContainer{
    width: 700px;
    height: 30px;
    padding: 20px 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #E26125;
    color: white;
    font-size: 20px;
}

#signsSize{
    background-color: white;
    outline: none;
}

#signsType{
    background-color: white;
    outline: none;
}

#signsNumberInput{
    outline: none;
    border-radius: 5px;
    border-color: transparent;
}

#submitButton{
    margin-left: 10px;
    background-color: #1947BA;
    color: white;
    border-radius: 5px;
    border-color: transparent;
    outline: none;
}

#weightOutputContainer{
    display: inline-block;
    width: 694px;
    height: 40px;
    padding: 0px 10px;
    background-color: white;
    color: #1947BA;
    border-style: solid;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left-color: #1947BA;
    border-right-color: #1947BA;
    border-bottom-color: #1947BA;
    border-top-color: transparent;
}

#totalWeight{
    margin: 0px;
    float: right;
    padding-right: 5px;
}

#totalWeightText{
    margin: 0px;
    float: right;
}

#plusContainer{
    width: 50px;
    height: 50px;
    text-align: center;
    float: right;
}

#plusSign{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 0px;
    background-color: #1947BA;
    color: white;
    font-size: 40px;
    outline: none;
}